* {
  margin: 0;
  box-sizing: border-box;
}

/***GENEREL STYLING***/
h2,
h3 {
  font-family: "Cinzel", serif;
  font-weight: 900;
}

body {
  background-color: rgb(20, 20, 20);
  font-family: "Cinzel", serif;
  font-weight: 900;
}

button,
option {
  font-family: "Times New Roman", Times, serif;
}

/***HEADER STYLING***/

header {
  display: flex;
  justify-content: center;
}

#header_content {
  display: flex;
  flex-direction: row;
  margin: 40px 0px 40px 50px;
  width: 1000px;
  height: auto;
}

#header_content img {
  width: 250px;
  height: 250px;
  margin-right: 40px;
}

#headlines {
  display: flex;
  align-items: left;
  flex-direction: column;
  margin-top: 50px;
}

#headlines h2,
#headlines h3 {
  color: whitesmoke;
}

/***ATTENDING_EXPELLED BUTTONS***/
#attending_expelled_buttons {
  display: flex;
  justify-content: center;
}

#attending_expelled_buttons button {
  height: 40px;
  width: auto;
  margin: 0px 10px 0px 10px;
}

/***LISTVIEW***/
main {
  display: flex;
  justify-content: center;
}

#overview {
  background-color: white;
  width: 1000px;
  margin: 20px 0px;
}

#function_bar {
  display: flex;
  flex-direction: row;
}

#sorting_filtering {
  display: flex;
  margin: 20px 0px;
  flex-direction: row;
  justify-content: left;
}

.filter,
.sorting {
  margin-left: 20px;
  margin-right: 5px;
}

#search {
  display: flex;
  align-self: right;
  margin: 20px;
  justify-content: right;
}

.container {
  width: 90vw;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

/*
#student_article {
  background-image: url(design_pics/annie-spratt-Bf9PT5qVZvM-unsplash.jpg);
  border: 1px solid black;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}

#student_article img {
  width: 40%;
} */

/*************************POPUP***********************/

/* #popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.8);
  display: none;
}

#popup_student_pic {
  height: 20%;
  width: auto;
}

#popup article {
  display: flex;
  position: relative;
  width: 50vw;
  height: 50vh;
  margin: 4rem auto;
  background-color: white;
  flex-wrap: wrap;
}

#close {
  position: absolute;
  top: 3vw;
  right: 3vw;
  background-color: white;
  color: black;
  border-radius: 5px;
  cursor: pointer;
} */
