* {
  margin: 0;
  box-sizing: border-box;
}

/***GENEREL STYLING***/
h2,
h3 {
  font-family: "Cinzel", serif;
  font-weight: 900;
}

body {
  background-color: rgb(20, 20, 20);
  font-family: "Cinzel", serif;
  font-weight: 900;
}

button,
option {
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
}

/***HEADER STYLING***/

header {
  display: flex;
  justify-content: center;
}

#header_content {
  display: flex;
  flex-direction: row;
  margin: 40px 0px 40px 50px;
  width: 1000px;
  height: auto;
}

#header_content img {
  width: 250px;
  height: 250px;
  margin-right: 40px;
}

#headlines {
  display: flex;
  align-items: left;
  flex-direction: column;
  padding-top: 90px;
}

#headlines h2,
#headlines h3 {
  color: rgb(235, 184, 46);
}

/***ATTENDING_EXPELLED BUTTONS***/
#attending_expelled_buttons {
  display: flex;
  justify-content: center;
}

#attending_expelled_buttons button {
  height: 40px;
  width: 200px;
  margin: 0px 10px 0px 10px;
  background-color: rgb(235, 184, 46);
}

/***LISTVIEW***/
main {
  display: flex;
  justify-content: center;
}

#overview {
  background-color: white;
  width: 1150px;
  margin: 20px 0px;
  border: solid rgb(235, 184, 46) 6px;
  padding: 20px;
}

#function_bar {
  display: flex;
  flex-direction: row;
}

#sorting_filtering {
  display: flex;
  margin: 20px 0px;
  flex-direction: row;
  justify-content: left;
}

.filter,
.sorting {
  margin-left: 20px;
  margin-right: 5px;
}

#sortingList {
  height: 20px;
  width: auto;
  margin-top: 5px;
}

#filter_buttons button {
  height: 20px;
  width: 140px;
  margin: 5px;
  color: whitesmoke;
  background-color: rgb(20, 20, 20);
}

#search {
  display: flex;
  align-self: right;
  margin: 20px;
  justify-content: right;
}

.container {
  width: 90vw;
  max-width: 1080px;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#student_article {
  background-image: url(design_pics/annie-spratt-Bf9PT5qVZvM-unsplash.jpg);
  border: solid rgb(20, 20, 20) 2px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

#student_article #photo {
  padding: 15px;
}

#student_article #info {
  padding: 45px 15px 15px 15px;
}

#student_article button {
  margin-top: 10px;
}

/*** POPUP ***/

#popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.8);
  display: none;
}

#popup article {
  display: flex;
  position: relative;
  width: 50vw;
  height: 50vh;
  margin: 4rem auto;
  background-color: rgb(20, 20, 20);
  flex-wrap: wrap;
  border: solid rgb(235, 184, 46) 6px;
}

#close {
  position: absolute;
  top: 1vw;
  right: 1vw;
  background-color: rgb(235, 184, 46);
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

#popup_content {
  display: flex;
  flex-direction: row;
  margin: 40px;
}

#popup #photos,
#popup #text {
  margin: 15px;
}

#popup_student_pic {
  height: 50%;
  width: auto;
}

#popup p {
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  color: whitesmoke;
}

#popup h2 {
  color: whitesmoke;
}

#popup button {
  margin-top: 15px;
  background-color: rgb(235, 184, 46);
}

/***FOOTER***/

footer {
  padding: 40px;
  background-color: whitesmoke;
  margin-top: 100px;
}

footer div {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

footer p,
footer a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}
